h1 {
	color: #FF8000;
}
li {
	color: #7F2898;
}
/*first 2 red
middle 2 green
last 2 blue
0 to F range hex
all max will give white color
https://www.webfx.com/web-design/color-picker/
https://colours.neilorangepeel.com/*/