/*border color #bdc3c7
date color #3498db
h2 color #2c3e50
font source sans pro*/
body {
	width: 35%;
	border: 4px solid #bdc3c7;
	margin: 2% auto 2% auto;
	border-width: 22px;
	line-height: 1.5;
	font-family: Source Sans Pro;
}
h1 {
	margin-left: 3%;
	color: #3498db;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
h2 {
	margin-left: 3%;
	color: #2c3e50;
}
p {
	margin: 3% 3%;
	padding-left: 1%;
}
.one {
	border-left: 8px solid #bdc3c7;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 2%;
}
.dec {
	border-top: 2px solid #F1F1F1;;
	width: 95%;
	padding-top: 2%;
}